<div *ngIf="rightAscension$ | async as rightAscension">
    Right Ascension:&nbsp;
    <u235-astro-right-ascension
        [decodedAngle]="rightAscension"
        (notifyChange)="onRightAscensionChanged()"
        [u235-astro-flash]="rightAscensionChanged.asObservable()"
        >
    </u235-astro-right-ascension>
</div>
<div *ngIf="declination$ | async as declination">
    Declination:&nbsp;
    <u235-astro-declination
        [decodedAngle]="declination"
        (notifyChange)="onDeclinationChanged()"
        [u235-astro-flash]="declinationChanged.asObservable()"
        >
    </u235-astro-declination>
</div>
<div *ngIf="altitude$ | async as altitude">
    Altitude:&nbsp;
    <u235-astro-altitude
        [decodedAngle]="altitude"
        (notifyChange)="onAltitudeChanged()"
        [u235-astro-flash]="altitudeChanged.asObservable()"
        >
    </u235-astro-altitude>
</div>
<div *ngIf="azimuth$ | async as azimuth">
    Azimuth:&nbsp;
    <u235-astro-azimuth
        [decodedAngle]="azimuth"
        (notifyChange)="onAzimuthChanged()"
        [u235-astro-flash]="azimuthChanged.asObservable()"
        >
    </u235-astro-azimuth>
</div>
