<div *ngIf="moonStats$ | async as moonStats">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" [attr.width]="width" [attr.height]="width" viewBox="0 0 100 100" overflow="visible" enable-background="new 0 0 100 100" xml:space="preserve">
        <defs>
            <path [attr.id]="pathId" [attr.d]="getPhasePath(moonStats.phasePct, moonStats.illuminationPct)" />
        </defs>
        <clipPath [attr.id]="clipId">
            <use [attr.xlink:href]="'#' + pathId" />
        </clipPath>
        <g transform="matrix(1 0 0 1 0 0)" [attr.clip-path]="'url(#' + clipId + ')'">
            <image width="100" height="100" xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/4QOWRXhpZgAATU0AKgAAAAgAC
            gEPAAIAAAASAAAAhgEQAAIAAAALAAAAmAEaAAUAAAABAAAApAEbAAUAAAABAAAArAEoAAMAAAABA
            AIAAAExAAIAAAALAAAAtAEyAAIAAAAUAAAAwAE7AAIAAAAlAAAA1IKYAAIAAAA3AAAA+odpAAQAA
            AABAAABMgAAAABOSUtPTiBDT1JQT1JBVElPTgBOSUtPTiBEODAwAAAAAABIAAAAAQAAAEgAAAABU
            GhvdG9zIDMuMAAAMjAxNTowOToyNyAyMDoxOTozOQBQZXRlciBkZSBWaW5rICAgICAgICAgICAgI
            CAgICAgICAgICAAAChDKVAuZGUgVmluayAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgIAAAACaCmgAFAAAAAQAAAwCCnQAFAAAAAQAAAwiIIgADAAAAAQAEAACIJwADAAAAA
            QGQAACIMAADAAAAAQACAACQAAAHAAAABDAyMzCQAwACAAAAFAAAAxCQBAACAAAAFAAAAySRAQAHA
            AAABAECAwCRAgAFAAAAAQAAAziSBAAKAAAAAQAAA0CSBQAFAAAAAQAAA0iSBwADAAAAAQACAACSC
            AADAAAAAQAAAACSCQADAAAAAQAAAACSCgAFAAAAAQAAA1CShgAHAAAALAAAA1iSkAACAAAAAzAwA
            ACSkQACAAAAAzYwAACSkgACAAAAAzAwAACgAAAHAAAABDAxMDCgAQADAAAAAQABAACgAgAEAAAAA
            QAADwCgAwAEAAAAAQAACgCiFwADAAAAAQACAACjAAAHAAAAAQMAAACjAQAHAAAAAQEAAACkAQADA
            AAAAQAAAACkAgADAAAAAQAAAACkAwADAAAAAQAAAACkBAAFAAAAAQAAA4SkBQADAAAAAQMgAACkB
            gADAAAAAQAAAACkBwADAAAAAQABAACkCAADAAAAAQAAAACkCQADAAAAAQAAAACkCgADAAAAAQACA
            ACkDAADAAAAAQAAAAAAAAAAAAAAAQAAAZAAAAALAAAAATIwMTU6MDk6MjcgMjA6MTk6MzkAMjAxN
            TowOToyNyAyMDoxOTozOQAAAAAEAAAAAQAAAAAAAAABAAAABwAAAAEAAAMgAAAAAUFTQ0lJAAAAI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgAAAAAQAAAAEAAP/hC0FodHRwOi8vb
            nMuYWRvYmUuY29tL3hhcC8xLjAvADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2Voa
            Uh6cmVTek5UY3prYzlkIj8+DQo8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4O
            nhtcHRrPSJYTVAgQ29yZSA1LjQuMCI+DQoJPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3L
            nczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4NCgkJPHJkZjpEZXNjcmlwdGlvbiByZ
            GY6YWJvdXQ9IiIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4b
            Wxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnBob3Rvc2hvcD0ia
            HR0cDovL25zLmFkb2JlLmNvbS9waG90b3Nob3AvMS4wLyIgeG1wOkNyZWF0ZURhdGU9IjIwMTUtM
            DktMjdUMjA6MTk6MzkiIHhtcDpNb2RpZnlEYXRlPSIyMDE1LTA5LTI3VDIwOjE5OjM5IiB4bXA6Q
            3JlYXRvclRvb2w9IlBob3RvcyAzLjAiIHBob3Rvc2hvcDpEYXRlQ3JlYXRlZD0iMjAxNS0wOS0yN
            1QyMDoxOTozOSI+DQoJCQk8ZGM6Y3JlYXRvcj4NCgkJCQk8cmRmOlNlcT4NCgkJCQkJPHJkZjpsa
            T5QZXRlciBkZSBWaW5rICAgICAgICAgICAgICAgICAgICAgICA8L3JkZjpsaT4NCgkJCQk8L3JkZ
            jpTZXE+DQoJCQk8L2RjOmNyZWF0b3I+DQoJCQk8ZGM6cmlnaHRzPg0KCQkJCTxyZGY6QWx0Pg0KC
            QkJCQk8cmRmOmxpIHhtbDpsYW5nPSJ4LWRlZmF1bHQiPihDKVAuZGUgVmluayAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvcmRmOmxpPg0KCQkJCTwvcmRmOkFsdD4NC
            gkJCTwvZGM6cmlnaHRzPg0KCQk8L3JkZjpEZXNjcmlwdGlvbj4NCgk8L3JkZjpSREY+DQo8L3g6e
            G1wbWV0YT4NCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            AogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgI
            CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgPD94cGFja2V0IGVuZD0ndyc/Pv/tANxQaG90b3Nob3AgMy4wADhCSU0EBAAAAAAAoxwBWgADG
            yVHHAIAAAIAAhwCdAA2KEMpUC5kZSBWaW5rICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgI
            CAgICAgICAgICAgHAJQACRQZXRlciBkZSBWaW5rICAgICAgICAgICAgICAgICAgICAgICAcAj4AC
            DIwMTUwOTI3HAI/AAYyMDE5MzkcAjcACDIwMTUwOTI3HAI8AAYyMDE5MzkAOEJJTQQlAAAAAAAQQ
            KVLdJc1h7CwnJPyzf3FoP/bAEMAAgEBAgEBAgICAgICAgIDBQMDAwMDBgQEAwUHBgcHBwYHBwgJC
            wkICAoIBwcKDQoKCwwMDAwHCQ4PDQwOCwwMDP/bAEMBAgICAwMDBgMDBgwIBwgMDAwMDAwMDAwMD
            AwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDP/AABEIAGQAZAMBIgACEQEDE
            QH/xAAfAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQDBQUEBAAAAX0BA
            gMABBEFEiExQQYTUWEHInEUMoGRoQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygpKjQ1Njc4OTpDR
            EVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqs
            rO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4eLj5OXm5+jp6vHy8/T19vf4+fr/xAAfAQADAQEBA
            QEBAQEBAAAAAAAAAQIDBAUGBwgJCgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB
            2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV
            1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw
            8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/AP5/6KK6P4S/C
            TxJ8dviJpfhPwlpN1rniDWpvJtLSADc5wSWZiQqIqgszsQqKpZiACaAOeggkuZkjjRpJJGCqqjLM
            TwAB3Jr9Dv2KP8Ag3H+Lv7QtvY658SLqH4QeFbsLKkeoWxutcuYzggrZAr5OeQftDxuOD5bCv0H/
            wCCaH/BJ/4f/wDBOvQdP8R61DZeNvi+0Qlm1byfNi0Vm4MdgjDMeM7TOwEj5OPLVjHX1d4l8Ranf
            2zXEk81icksJGAaP3POBnn0/lUyqJbam1Oi3rLQ8C/Z5/4IQ/sn/s+QW8l94TuvH+qQjLX3im/a8
            yepzbRiO12+gaJmAA5PJP0Ro/wu+FXwvPl+Efh/8PfDFquQp0nw7Z2QJ9f3US/nXEy32mzJD515J
            fx3gIaUyGFIwOQCGIZiTxxkcfQncbw3bvb+bp9w0y+WpMQcEDsw3DI56e3Tmo9pPudHsYLoberax
            4ZvVZdW03QryPjdHdWENyHPbIKn14zXAfEP9gb9mH9prQpLfWfg38NGlfmW40zRU0W8dj/G1xY+T
            KTnB+Zj75BxXQQ+D4prFfOiVf70hfLPnsB+mab4b1KPSbib7O1vGflUJuHPXuOuR6j/AOsueXcr2
            cX0Pzz/AGpf+DX7wr4mNxqHwZ8e3Xhu5bcU0bxTm8s2fJOEuoUEsSAcANFMx7t1x+V/7VX7E/xQ/
            Yp8YR6L8SPCOo+HpLot9ivDiaw1JVxlre5jLRS4yuQrFl3AMFPFf0/aX4hj8QWkm5oP3D4Dxj5om
            x93PUZ/Pij4gfCXw58fPhtqvhPxtoNh4u8M6xCFvdJ1JTKjYGA6MuHjkXOVlQrIh+ZWVhmqjV/mM
            Z4dfZP5LaK+8v8Agrv/AMEX9W/YSlbx54FbU/Enwhvp1ikluAJL7wtM7YSG7KgB4XJCx3ACgsRG4
            VzGZfg2tTl1WjCiiikBJZ2k2oXcVvbxSTzzuI4441LPIxOAoA5JJ4AFft//AMEnv2ItK/Y0+Eset
            axZx/8ACxPEMCS6vdsN0mnRkq6WEZGQFQhWk2/fkXOWWOMj4C/4Ix/szr8Xf2in8ZajaR3Wj/D8J
            dQxyruSfUHDfZ+O4i2PMSPutHFnhsH9i9DtVXcm1pI4h83XDnj+maJbWNqMb+8z1ewni8BeErzUf
            Omu9SaASFrs9HJBAweeCSce35+T+J/irqXiS4VVvGEfmCV1KBSzkf7I6en1rZ8Xa9ceImtxcK0dv
            CGlIzu+Y5A5xxx/WuMvLKTzTMyiPblg2cluRWUIpu7OzbY6C01Jmso/3nlxSNtILnC5IP8AMd+9d
            54d1eTQ7LdGZGhibM3HEZyQT1zn6cZAzXntjoEt/GPmhWGScQhmkwp+g69x1HXFeg6fpFxoUSR2d
            it95g2hQx8w5PckHHrn+lTZIOZsn+JHxVk0FdMSx+z7riEs7SoxLE4G0r6k85/L34zUviC2pLLPH
            CkMyFTIyceZ7AHgdOo5PvVf4xhPDetQwxq0n2iIcM+75hwMHHXB6Vgwv5mkTMNu5dqD3GDzTstwR
            7f8JZNL8SXjXmlXM0jMFaSMEo0bjqMdxz0PB969ES9t7HDSMY5Fz95fv89PwGa+bPhH4oTwt4ofd
            KltDdKNzg7Qr9MD1znpnjr9PT/CvxKt9a8R/wBm3wkkl3tJHLuGVXBBXH8R5yO+P0mUWK52OsXeg
            6xpF5oeu2VhqGk69bz2t7p96omtr22cMkkboR8yOu5SD16fT+dj/gsX/wAE3Jf+CeP7SQj0MTXXw
            x8bCXUfCV5JIZHijUr51jKx+9LbtIi7ud8bwucFyq/vh8evDzaY9vqFrM1xZ36Ab1UgIwxxkjjvx
            65rxr9uD9k2f9v7/gnX4i8HfZ/7R8V6Oz6t4Yck+aL+3QlIwTgEyxs8HJIxOrfeQEa03bR7MwrQU
            ldbn83lFOkjaKRlZWVlOCCMEGirOU/aD/gk98FYfhL+wv4bvJLWaHVvGUk+sXLc4kjkIEXuR5McB
            x0y3Gckn7W8FaTC/g6S8mmRX3JBHEzjzHXDFyARzjAGR0yB6GvIfDXhdvhx8M/DvhmPaYdB0qysA
            CPmjSGAJjPB+Y8kdyOegrqNC1uSSNFjeTy4yp2r8pAz2/PH1/UmrnXT91I07p3vdSaGHy4La4mPL
            EDeuSP8fTpQ2hJD+7ZjcW+8wpJjG5T0Uj1OcZGcds1f1XTVtb+11Hy5PImwrBQDvkJyD0yVI9CO4
            r0zQ/D9jqVxbqi2Mdu38JGxIMdwc9TzweecH3z22NTyuHwvJcAsysscygsQfb1Prj9T1wa6rwNqg
            8FaNLcSah9puJFztjkDCMqOY157ZPTI4HTmtTxPcWljLcWqTRtHlkRlJKtjI9MY68HjmvNfCWnab
            458bs8lxt+wyOBg4RjxwTz6HjHGc0ct0LmL114qtfE3iW3j1KWSzWZhmQKJOeoGzjq2D1JHsKvRa
            TY2nhO/vW0u2ujHMWieEurMnIHyjajLjLHC5HHPete4+DWj605mjt44nj8tlR84LdyoHPGCP8iuz
            1jwGumeEUtVQXEMikA7RkAkn09zng5z7cl10G2fNNpqi37sZPLjhUDIhiwhYsTg4/i5xuPoKm0rU
            by11SG4jmuI5bc+YnlklkwOgPXGDg+xrW8SeArzRNRktVgaS1jLYlijZlkxzgnGe4684I6dK6b4W
            fDNPFugX0klxJZvblII2A3eYxBLZGOAFC9wefc46JSS1M43PRfCPxEitPCJi1eVtS01sJNPNhm38
            7vkA5XOecZPHvXW6bJaWK6YNHvLaO2WZDthAKsnzDjB6kkcnOTjvmvGPG2hz+Hobexy0tvHEdsrx
            gCV8kkZz6Be/wDETzW38D9N/wBKIWOS4RmLuqD/AFe3oc9hk47de1cso6XND8Gf+Cz3wMtfgD/wU
            o+J+m6ba/ZdG1rUF8RaegUKixX8aXTKgGMKksksYGBjy8UV+jX/AAWf/wCCb+oftcftPeHfFGm2t
            0q2/hO20+Ywsi75Eu7x8tnknbIgz6AelFehTws6kVNW1PNqVIxk4n1R8RfCUS+G/D+rqzCz1Czhe
            aVV3Im+NXBHT1P/AH125riwYoWjl8xmhjYMRkcjPA/yK3v2S/H8f7SP/BOf4Y6hb3EUt7c+H7GKd
            mwqyXMMLRThfpJDICB0xn0rl4LSTbcQ7Wjkt3U+U4KyYOASc8Dt19frXLHdndHWKPXLzxXZ6n4It
            YVgjXBjHmc4MbKxLDGPx44Jx9X6Hq9usRiaEQwyOEEm8tnHck5wQDnBPb2rybSJpoRCyybo4iPN5
            ypBY4wOOBkD8R+HY3Fl9j8Dz32+NIhIIvLjHzPwoBz15wW57k+4qXpoUjQ8T6Ct3dW97aNFdeWzR
            nPytHhs4J9fl9x6dal8JfCn7Usk8kctvM0jSoQuxSQDk9Rk9eMc/iKPBuvWV/ZNp5byZpY/lIH+s
            faB15xluc++aueAvHN1pMs2l6vNFDHYEk5lyV+Y5HJ6gduCeOMc0uZ2HynT+BNCuPCoaK4kMkrH/
            WHIOc8cf1/WutlWdQsjJIsbfPDuAGF45H6+g4rmzcTLIzNcK27gMV+6Of8APHHFakNxcXyb2JdYV
            C7nPHoevuR+dZjNDXbJZPCbCxjWS5ZSJCYg3l5BGMHrx2PvXD+G7dvAEV3HfQvHDGytIVi3ckEnO
            PXn6cevPfab4lafUFeVVkhVkRYiMKxAwOPQDH51zXxm0X+2dOiksXZ4lVRKrHGXOAB3+nT9M01ro
            wIfFvhnTfHGkLeab8ryP5arv+VDnIY59MqMdeT16VJ8LYJvAN1JayBY/MhAYscko7YAB6E/p3qv4
            Ei1bT9GjsbmHbcQyi4VFf70bjCq2OMjlvYgGul8LeEpLe1uvPUTXRlBV8YxHxgHtngdvp3pPawHA
            /tEfFmx8GeK9Nt7xrLfPpyzoJVyQpllXjkcZU/jmivyf/4OIP2qNX0X9vTTfDXhnVJrEeEvB+n2G
            oxKqkfaZZbm9B5HGYLuDiivToVqcaaUjzakbzbR7L/wbh/tKW/j34M6x8K9WmhbUfAepjXtGRmCs
            bSYt5i4/iVJ2csTn/j5APGMfd/xI+C8V3rC6jb7RazJKXMR/eROoOMrkZB4BHU8e9fzqfsRftXax
            +xd+0n4d8eaU00kOnzCDU7SNsf2hYuQJ4eoGSo3KTwrojfw1/TD8G/EWg/H/wCFul+KPCuoxaro+
            vWKalZ3Ck4licEjI6gjlWU/MjBlIBUgcErrVHXRlpys8v0H4Rw6lY3BaZlaaINGVwVibhgMLwQc4
            7fh0rm7TSLkX32MN9qtZCnmKmRJHjIJ24A+RhtO7vjrnNez/Enw1f2XgO8hsW8mdcOJIS4ZgMZUM
            vPOOnBOOM14h4IuNU0HxHNbRstxHfL5U4lYsJN+GDE88nnk8EMTSi76m502veHodDupVsbVlsxCs
            LSlS2JCmSAx6ZwD6jJ+lYOl63JeeKUaSaeMXNysVz8w3Tr1JO4AL0P/ANauwk8O32rXl1Ys7Ou7a
            00h2+U5GfJfkjjPB6jdzgE4q6T+z7qUurw/2pJcZ3YY7h+7RRxyT04AwOme1Vpa7JPTLJlu4LM2b
            I3mN8jdTgZwPerFppc+qalNK2w/Zxh8NhSQTk/h0+ldJ4U8Af2BoUIWRWWxTDF/mc5GML/jUOqQr
            Pt+YKzDDENtKgDPXjt/kGsfQpGGLc3d95dudkcOS7E7cY7/AK/p9K0ry8tbiKPCsIoQHjBxlyQOT
            +XT+uaqwDy7SSO1jVhkKzM4y3fjjgcnr6+mczW1q17PtklVpFA+6flH1I/kPzpgafhLTTFqUcbY2
            zOGYAnaowOcjpjp+FbfxL8W6H8NPCup61qt/HY6Pounz6jqNywwtrbQRtJJK3+7GjMR16enOWobR
            YllyTcMMRr2Ge+O+O2a/Ln/AIOMP+ChMfg34cf8KJ8O6hFNr/inyb7xO8Dc2FgpEkNs2Okk7qjkZ
            BEUYyCs4NEY3ZM5WVz8nP2rvj5eftSftKeOPiFfRyQS+LtYuNQit3k8w2UDOfItw3dYohHGPZBRX
            n1FbnCFfe3/AARl/wCCtE37GHiqPwD42vJf+FZ61dGSK8wzSeGrl+sq7fma3c48yMZ2n94ozvWT4
            JooGm07o/rT8O+LrfxBp1rcWcljqmn6hCt1DNDMJLe5jZQyyRuuVcMpBBU8qcjiue1nS47rX/Ot7
            NZFkIZpI5CWiyc4O4fMM4Jx0JPFfgj/AME5P+CyXj79hI2vhvUI28bfDUSln0W6mK3GmBuWeymOf
            L+b5jEwaNiXwqO5kH7Pfsl/t0fCv9uDw+2ofD/xR9q1KSNZL7w/eEW+rWGMbi9sWOVAODJC0kef4
            sgisZRsddOon6npkfw+t4NSa8a3kmmuJvMIDAKCAcbSdp9OCSM/TjtNDma6ADtJIvWNWG5l9gc98
            HgHj1655uA3unMkcitcW/K7lUsuOwYjkfX+VbGkRvFqC7lkVWPmgZ2lsZP05o5rmh0aarJPIFZVY
            SIGwufk/wBk8df/AK9UtVicQNuU/MCAGO1RnP4Z/Gr2nQTahZRqqqsicyHJBU9Rnn/JqrJp8skrx
            tG21pMlcgEnp2/+v0oA56OO8crmaNvs5ONnRc+//wBetfSIBZwR/JD83IIj3En1/wA8U7X4LLwX4
            Y1DWtav9P0PQ9JiNxe6lf3SW1paRj70ksshCIo9WIFfmf8A8FB/+Djfwb8MNGvvC3wChj8YeKXRo
            H8W31sV0nS24G+2gkAa6kX5sM6rCCqnE6ErQotkynGO59Bf8FW/+CoOi/8ABPL4ZKqtY6x8UvEkD
            NouhvJvMURyv2y6AIaO2VlYADa8zgohAWWSP+d74h/ELW/ix451XxL4k1K61jXdcuXvL68uGzJcS
            ucknsPQAAAAAAAACnfEf4k+IPjB451PxN4p1jUfEHiDWZjcXuoX87TXFy5wMszc8AAAdAAAMAAVi
            VrFWVjlqVHJhRRRTMwooooAKsaVq11oOp299Y3NxZ3lpIs0FxBIY5YXU5VlZcFWB5BHIoooA+xPg
            B/wXt/aS+A8NtbTeKtO8d6daoEW28V6et87j/buUMd05/3pj/Ov2Q/YB/bW8SftY+GtHvPEWj+Gb
            GXVLZJ5RpsNxGqFtuQvmTPgc980UVL3N6Ume7fFz4gXnwu8PTX2nw200kNu0oW43sjHjg7WU4/Gv
            yF/bI/4OL/j58O/HuqeFvCumfDXwybfPl6rb6HLd3yZ3DpdzzQcYB/1XXrkcUUVpQinLUVaTUdD8
            9/2kP21Pix+17qkd18SviB4m8YfZ5DLb219eN9js2PBMNsuIYcg4/doteX0UVJiFFFFABRRRQB//
            9k="
                transform="matrix(1 0 0 1 0 0)">
            </image>
        </g>
    </svg>
</div>
