<div *ngIf="moonStats$ | async as moonStats">
    <svg xmlns="http://www.w3.org/2000/svg" width="110" height="110">
        <g transform="translate(10,8)">
            <clipPath id="CP">
                <path [attr.d]="getMoonPath(moonStats.phasePct, moonStats.illuminationPct)" />
            </clipPath>
            <image
                href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/4gxYSUNDX1BST0ZJTEUAAQEAA
                AxITGlubwIQAABtbnRyUkdCIFhZWiAHzgACAAkABgAxAABhY3NwTVNGVAAAAABJRUMgc1JHQgAAA
                AAAAAAAAAAAAAAA9tYAAQAAAADTLUhQICAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAABFjcHJ0AAABUAAAADNkZXNjAAABhAAAAGx3dHB0AAAB8AAAABRia3B0A
                AACBAAAABRyWFlaAAACGAAAABRnWFlaAAACLAAAABRiWFlaAAACQAAAABRkbW5kAAACVAAAAHBkb
                WRkAAACxAAAAIh2dWVkAAADTAAAAIZ2aWV3AAAD1AAAACRsdW1pAAAD+AAAABRtZWFzAAAEDAAAA
                CR0ZWNoAAAEMAAAAAxyVFJDAAAEPAAACAxnVFJDAAAEPAAACAxiVFJDAAAEPAAACAx0ZXh0AAAAA
                ENvcHlyaWdodCAoYykgMTk5OCBIZXdsZXR0LVBhY2thcmQgQ29tcGFueQAAZGVzYwAAAAAAAAASc
                1JHQiBJRUM2MTk2Ni0yLjEAAAAAAAAAAAAAABJzUkdCIElFQzYxOTY2LTIuMQAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAWFlaIAAAAAAAAPNRAAEAAAABF
                sxYWVogAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAABvogAAOPUAAAOQWFlaIAAAAAAAAGKZAAC3h
                QAAGNpYWVogAAAAAAAAJKAAAA+EAAC2z2Rlc2MAAAAAAAAAFklFQyBodHRwOi8vd3d3LmllYy5ja
                AAAAAAAAAAAAAAAFklFQyBodHRwOi8vd3d3LmllYy5jaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAABkZXNjAAAAAAAAAC5JRUMgNjE5NjYtMi4xIERlZmF1bHQgU
                kdCIGNvbG91ciBzcGFjZSAtIHNSR0IAAAAAAAAAAAAAAC5JRUMgNjE5NjYtMi4xIERlZmF1bHQgU
                kdCIGNvbG91ciBzcGFjZSAtIHNSR0IAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZGVzYwAAAAAAAAAsU
                mVmZXJlbmNlIFZpZXdpbmcgQ29uZGl0aW9uIGluIElFQzYxOTY2LTIuMQAAAAAAAAAAAAAALFJlZ
                mVyZW5jZSBWaWV3aW5nIENvbmRpdGlvbiBpbiBJRUM2MTk2Ni0yLjEAAAAAAAAAAAAAAAAAAAAAA
                AAAAAAAAAAAAHZpZXcAAAAAABOk/gAUXy4AEM8UAAPtzAAEEwsAA1yeAAAAAVhZWiAAAAAAAEwJV
                gBQAAAAVx/nbWVhcwAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAo8AAAACc2lnIAAAAABDUlQgY
                3VydgAAAAAAAAQAAAAABQAKAA8AFAAZAB4AIwAoAC0AMgA3ADsAQABFAEoATwBUAFkAXgBjAGgAb
                QByAHcAfACBAIYAiwCQAJUAmgCfAKQAqQCuALIAtwC8AMEAxgDLANAA1QDbAOAA5QDrAPAA9gD7A
                QEBBwENARMBGQEfASUBKwEyATgBPgFFAUwBUgFZAWABZwFuAXUBfAGDAYsBkgGaAaEBqQGxAbkBw
                QHJAdEB2QHhAekB8gH6AgMCDAIUAh0CJgIvAjgCQQJLAlQCXQJnAnECegKEAo4CmAKiAqwCtgLBA
                ssC1QLgAusC9QMAAwsDFgMhAy0DOANDA08DWgNmA3IDfgOKA5YDogOuA7oDxwPTA+AD7AP5BAYEE
                wQgBC0EOwRIBFUEYwRxBH4EjASaBKgEtgTEBNME4QTwBP4FDQUcBSsFOgVJBVgFZwV3BYYFlgWmB
                bUFxQXVBeUF9gYGBhYGJwY3BkgGWQZqBnsGjAadBq8GwAbRBuMG9QcHBxkHKwc9B08HYQd0B4YHm
                QesB78H0gflB/gICwgfCDIIRghaCG4IggiWCKoIvgjSCOcI+wkQCSUJOglPCWQJeQmPCaQJugnPC
                eUJ+woRCicKPQpUCmoKgQqYCq4KxQrcCvMLCwsiCzkLUQtpC4ALmAuwC8gL4Qv5DBIMKgxDDFwMd
                QyODKcMwAzZDPMNDQ0mDUANWg10DY4NqQ3DDd4N+A4TDi4OSQ5kDn8Omw62DtIO7g8JDyUPQQ9eD
                3oPlg+zD88P7BAJECYQQxBhEH4QmxC5ENcQ9RETETERTxFtEYwRqhHJEegSBxImEkUSZBKEEqMSw
                xLjEwMTIxNDE2MTgxOkE8UT5RQGFCcUSRRqFIsUrRTOFPAVEhU0FVYVeBWbFb0V4BYDFiYWSRZsF
                o8WshbWFvoXHRdBF2UXiReuF9IX9xgbGEAYZRiKGK8Y1Rj6GSAZRRlrGZEZtxndGgQaKhpRGncan
                hrFGuwbFBs7G2MbihuyG9ocAhwqHFIcexyjHMwc9R0eHUcdcB2ZHcMd7B4WHkAeah6UHr4e6R8TH
                z4faR+UH78f6iAVIEEgbCCYIMQg8CEcIUghdSGhIc4h+yInIlUigiKvIt0jCiM4I2YjlCPCI/AkH
                yRNJHwkqyTaJQklOCVoJZclxyX3JicmVyaHJrcm6CcYJ0kneierJ9woDSg/KHEooijUKQYpOClrK
                Z0p0CoCKjUqaCqbKs8rAis2K2krnSvRLAUsOSxuLKIs1y0MLUEtdi2rLeEuFi5MLoIuty7uLyQvW
                i+RL8cv/jA1MGwwpDDbMRIxSjGCMbox8jIqMmMymzLUMw0zRjN/M7gz8TQrNGU0njTYNRM1TTWHN
                cI1/TY3NnI2rjbpNyQ3YDecN9c4FDhQOIw4yDkFOUI5fzm8Ofk6Njp0OrI67zstO2s7qjvoPCc8Z
                TykPOM9Ij1hPaE94D4gPmA+oD7gPyE/YT+iP+JAI0BkQKZA50EpQWpBrEHuQjBCckK1QvdDOkN9Q
                8BEA0RHRIpEzkUSRVVFmkXeRiJGZ0arRvBHNUd7R8BIBUhLSJFI10kdSWNJqUnwSjdKfUrESwxLU
                0uaS+JMKkxyTLpNAk1KTZNN3E4lTm5Ot08AT0lPk0/dUCdQcVC7UQZRUFGbUeZSMVJ8UsdTE1NfU
                6pT9lRCVI9U21UoVXVVwlYPVlxWqVb3V0RXklfgWC9YfVjLWRpZaVm4WgdaVlqmWvVbRVuVW+VcN
                VyGXNZdJ114XcleGl5sXr1fD19hX7NgBWBXYKpg/GFPYaJh9WJJYpxi8GNDY5dj62RAZJRk6WU9Z
                ZJl52Y9ZpJm6Gc9Z5Nn6Wg/aJZo7GlDaZpp8WpIap9q92tPa6dr/2xXbK9tCG1gbbluEm5rbsRvH
                m94b9FwK3CGcOBxOnGVcfByS3KmcwFzXXO4dBR0cHTMdSh1hXXhdj52m3b4d1Z3s3gReG54zHkqe
                Yl553pGeqV7BHtje8J8IXyBfOF9QX2hfgF+Yn7CfyN/hH/lgEeAqIEKgWuBzYIwgpKC9INXg7qEH
                YSAhOOFR4Wrhg6GcobXhzuHn4gEiGmIzokziZmJ/opkisqLMIuWi/yMY4zKjTGNmI3/jmaOzo82j
                56QBpBukNaRP5GokhGSepLjk02TtpQglIqU9JVflcmWNJaflwqXdZfgmEyYuJkkmZCZ/JpomtWbQ
                puvnByciZz3nWSd0p5Anq6fHZ+Ln/qgaaDYoUehtqImopajBqN2o+akVqTHpTilqaYapoum/adup
                +CoUqjEqTepqaocqo+rAqt1q+msXKzQrUStuK4trqGvFq+LsACwdbDqsWCx1rJLssKzOLOutCW0n
                LUTtYq2AbZ5tvC3aLfguFm40blKucK6O7q1uy67p7whvJu9Fb2Pvgq+hL7/v3q/9cBwwOzBZ8Hjw
                l/C28NYw9TEUcTOxUvFyMZGxsPHQce/yD3IvMk6ybnKOMq3yzbLtsw1zLXNNc21zjbOts83z7jQO
                dC60TzRvtI/0sHTRNPG1EnUy9VO1dHWVdbY11zX4Nhk2OjZbNnx2nba+9uA3AXcit0Q3ZbeHN6i3
                ynfr+A24L3hROHM4lPi2+Nj4+vkc+T85YTmDeaW5x/nqegy6LzpRunQ6lvq5etw6/vshu0R7ZzuK
                O6070DvzPBY8OXxcvH/8ozzGfOn9DT0wvVQ9d72bfb794r4Gfio+Tj5x/pX+uf7d/wH/Jj9Kf26/
                kv+3P9t////2wBDAAIBAQIBAQICAgICAgICAwUDAwMDAwYEBAMFBwYHBwcGBwcICQsJCAgKCAcHC
                g0KCgsMDAwMBwkODw0MDgsMDAz/2wBDAQICAgMDAwYDAwYMCAcIDAwMDAwMDAwMDAwMDAwMDAwMD
                AwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCABkAGQDASIAAhEBAxEB/8QAHwAAA
                QUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhM
                UEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTV
                FVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5u
                sLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAA
                AAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIF
                EKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ
                2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0
                tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD+f+iirnh3w7qHi7X7LStKs
                bvUtT1KdLa0tLWJpp7mVyFSNEUEszMQAAMkmgCnX1p+xF/wRY+OX7cVtY6xpegw+D/Bd5tdPEniV
                nsrO4jOCGt49rTXAIJw8SGPIwXWv0O/4Jhf8ENfBn7NGg6X4++OFjpvizx5MgubTw/MFu9L0HI4E
                kfK3VwB13BokJ+UOVWWv0M8ReOtU1WBbiFzbq2QnmptKgdPlPQemeMD8aUpJbamtOi5avQ+If2ef
                +DXz4FfD2G3n+I3jPxZ8QNRA+eKFk0XTZOenlRl5+OBu+0KDydoyAPovw//AMEpf2U/hefs+i/BP
                wPKsedraqs2rMx+t5LKTXVS6iLwos2tSTG7GfMs5v3agdNzep6YA7H3xo3/AIdmtoWMN1JdQbV/d
                n7yjHP45Hbt71HtJ9zoVGC3Rw+sf8E+v2ZdaiZdR+CPwohhb/njokVi5PTgwhTjnsRXlXxj/wCDe
                f8AZP8AjNo7P4Y0HxB8P7sjKzeH/EU8yl8dXivjcgrnnahTtgivoOTwYl1ZeZL5wPWSRmGHPov4d
                z6H0q34S1JdAt5hEqrGZOU38jjn8eh9Oan2ku4/ZQa0R+NP7Vv/AAbTfF34R2t3qvw11nSfino0C
                GVbVUGl60VGS2LeR2jkx0ASYyOeBHk7a/PDxd4P1bwB4mvdF17S9S0TWNNlMF3YX9s9tdWsg6pJG
                4DIw9CAa/rItNaGo2cc0bCF0OAYn3eYM4Awcrnjv1ryX9uX/gnX8NP+ChHw5ksfHulmHXrWMx6R4
                r02FE1bSDyyJk8TwZ3ZgkJXBbaUciQXGonvp/X9f5GM6FvhP5f6K90/b7/4J+eOv+CePxi/4Rfxh
                BHeabqKvcaFr1op+w65bqQC8ZPKSJlRJC3zxll6qyO/hdWc4UUUUAFfsN/wRi/YD074A+DbX4m+M
                LAr4+1qFnso7pMHw7ZONoAUj5Z5lOXPLLG4j+UtMrfBf/BLT9mCL9pP9qLT21SxW+8MeEwNX1SGR
                cx3ZVv3Ns3qJJMbl7xpL6V+3mjWzSq8bs8hwWlIHVjwP6/l7US0WhtRjd8zPXNGuf8AhHvDt5rV3
                dSapeSW3mqrjasY4Kr+BI9OAfw8x8WfGbUvEcwSKaFYZHEsu0FCSR93k/dBz+f0rR8Y+I5vEMVvE
                8ckNqmZG3YOccKBx6euf61w93aOJ2m2eWUJbcWznke/vWMIpu7OvY6W11OS4tLdd/7pjhd5z5fI6
                V33hrxBJoNgnzO8Cn52KZWIndjPtnseMk+tecWHh241IRqoAikuPKVy4Cgj0r0Cz0ybSUW2jspL7
                zvlDLJucHP3ju9OpJx3pNIblctfEX4rDw7qVra2sNvMsturM0rHkEnAAH8Qxz7YrkJPiBALlLmGN
                reHzgJ8HOAeu3HIGPrn9DkfForofihrX5pvMQGNnbc6jkcEcfdA4GcVlSNv0jeqqxaXaV+m3n8af
                L1H5Hv/AMLbC3+zyT6feyXlmzGRCM7CCMHII6gjqOfwrtReW9lbSbZF/eLteP7pc4J+nUjivn74G
                +MB4WmvrSOaOBWO+PDhWkJH3R64x1z3x3r0nwD45sfGl80N07R3VogWSUqNjAtuB25yOBg8EZqZR
                aZO5k/tXfsxeAf24fgRq3wz8dR/6FeqJrK/Cq15oV5hhDdwZP30LEFcgSIzIxAev5m/2qP2ZvFX7
                Hfx98SfDnxlapb674aujA7xEtBeREB4bmFiAWiljZJEJAO1xkA5A/pM+MthfeDfGMwjuXZpG8+G4
                Qn5lPv3HGOMjGK+Kf8Ag4q/ZCf43/sseFvjfpll5niLwHBFYa3JEObjSp3+RyMbj5NxIpAHRbmYs
                cIK2pvTlfy/r+tTnrQTXMj8R6KKKo5j9cv+CJvwWg8Dfsh3Hi6aCRNU8aapOYpVGC9rCDAFP0YTk
                dOJD61+gHw90aOfwrcXU0kcfkqscSOVDOTndgHk4GBx0B5618+/sveGG+H37Ifwx0WFVVV8JaXcu
                rDlHmt0nmOSAQTI5/DHpivT9A1qR7dY4XfaoU7QMEc4OP8A63rRKNzqp+7FGvfvJdanJDbbY7eeX
                bufHzjp1P456U19DWP91I7TwbzCkuMZU9Bj+8c9RnFaGr2Cxz2uqeXJ5MhAfaAS8hPykcZK9c4I7
                ivS9C8P6fqE1ui/YY7duzAIkGO4JPU88HnnFZ7bGx5VH4ZlnDMVZVkAfIPfGevuR1/wNdh4Q15/B
                XhyaeXUDeXMibxsfzNuMAouT2/LjAOATV7xRc2do1xapNGy5ZUKklWA49MY68HivOfA2l6b458VT
                XUk5xa+YqrnbHIe4754GOgAo5boLlz+27DxV4oVNQmFmeXBdBMpYA8ADp35OSB1PWpNW0uy0b4eG
                /bSomm3t80csm0gjI3JwoUYGGUD73Iro/8AhS+j6rfLdQxLCySoVVs5XIyWAH17+n1NdX44+HoPh
                hNPZY5I5IgnmEfdGMZOBnA9hnjPpQraAfOFrqQuImdmVVhwsSRKyqxC87T256+5OK0/Bet6hpniS
                OaK/ntpG/dPMoBwGIzuyD6ZyRnIo1nwXfadLJDJayLbwj5HWI7H7ZJx14P4g813ngb4Tx+JPB8d9
                9sks5pLhgFAD70TGWzxgls9/wCHp0zvNpbmcbnolt400vXtDsbPxAsbwyEC0upm+90xkD7nb2wa1
                vFngDR/in4Y1rwXrUkc3hbxTpN1ol9BGoysM8fkvt5wCokyD2IHTArxfxzZTW2oS2sy7Y4QFiLx7
                dyBQNw9f/rYr0j4Iac0Ono3kzTJEmFkHCqWOWUnv0Bx9Paub4dUab6H8tfjvwXqHw38caz4d1aH7
                Pqmg30+nXkWc+XNDI0ci/gykUV9Ef8ABZv4bx/Cv/gp/wDGLTYo/JjvNZTWgv8A1/28N8T+JuCfx
                ord76Hnn7NfCrwxHqn7F/wd1+NmMNx4O0VriRV3BEawhIIyc57+/wCIqq3koFdZGaGNgSCRyAen5
                kdjWT/wSh+KcPx5/wCCV3gOza4jjvtJtf7AkMjAKHtZmjiTPJyYVj4xyHFaMmmSafd3lnIphmtyC
                I2HL46kHp05z6YPrST1Z2U9YI9VPjK11TwHb26wJ8pjxJ6o27cRg5yCOeOp9+ZtB1q3SNo3hSG3Z
                wnmK5b8WPZgDnDenbFeS6Y0tv5bLIv7lsud24OpY4Cj2J/X612Nzax23gWe+Ese1ZBEsUQALKVUK
                SccZwWxn72ePWXZFI0fEWgre3dvfWTRXOzMZ3AKyYbOM+vHXp6dateFfhF5lk000UtpPIXkRgoQc
                jbwMjLHOcd6h8IeJLTUrKTTmP2eWZMRsoCrI+0Dkg/3hk9OtXfh541uNH87T9WuI1XT2EeAxypyQ
                fy6Y9OegqeZ2DlOv8C6RN4Vh+zzMZJM5ZxwxIz27dMf1rpbmOe3fM6su5SUBxnYen1zx6VzkZnjc
                jz5MyEYcoeDxjj/AIFmtW3upJP9IdlX5gBubJK9uOp6fQcZqCiz470WTV/DC2+mx7vOHlyP5YyTw
                SOe3PXqOOnFcr4c1GHwJZx2+pW7eTHOyKgQFT2wcYI+vrn0rttK8Stc3Mk1z+8+0b+H5Kccn69cf
                SuN+MHheTWdWiuNP+eNmxCjsR8wBOehA/Hj+Ye+jEN8a/Du18ULbz6af+PtVILPtGcHIHHOcE/l9
                a6H4c6o2h6XJYPtVUlI245ZkXB/Dn9ao6DpOqX+iw2MjZuIIjZyOhbY5A++OOedo6c9O1dN4Z8Kt
                FptjGsYafdskcDmZ2IA/oP8mpltqM/nt/4OBrxb3/grb8UmV1k8uDQomYY5ZND09Wz7hgR+FFeNf
                8FEvjRB+0N+3V8WPGVnci803WvE962nTg8S2aStFbEf9sUjoro20OBu7ufc3/Btt+0vb23iXxd8H
                9YnUw6lLF4n0KNvlK3UG0XAUjkkqlu4XPSB+uTX6lfEj4SWvibVodQjaLDF1uI1+WQNglXH/Aj+P
                Ppiv5k/gj8Y9c/Z9+Lfh/xr4bumtNb8N3qXts+SFcr96N8EExupZHXPzK7A8Gv6Zv2Kf2g/Cf7bn
                wD0Xxp4YuIVj1iEyXNq8oaXT7tQBNbP0O9GwOg3KVcZDKTEr7o3oy+yYPhr4T2upWUrSGTddQcMA
                f3TcEEDA9QDnP6Zrl7Hw9N/aslvEftNtGV+0xsArQhSVfLbsJtYYwTlhyMjJr2z4jeB7i68BX1na
                svzYYFEHzFeQh5BGce44GcY48O8H+HNY8MeKWt4FmhjnQRzCSFgrK2OT0PUAZ6jkHnilF31Og6Px
                Nog0m5uPsdqttYrGkBwACHCA9+cEqDk8ZBrn/D2rmLxdbteNNDG1wWuIjIUEybDy4Pc44x1Fdcvh
                gapqV1psl1CsfmeUTJIN6SkAleMFo8ng44zxnkG54d/ZoksNZt11Bnl53Md5APIKkADkZx3xzxxi
                q03ZJ3mno2oS2f2OTaWBdWwdxHHfjj+eKk07SGnkuLqdl+UhW3feIA646811ul+D4tC0NfKkx9nQ
                RrGRln4HJJ+g/z1zNatknGZNyx4JJIOSenbueP8isbFGNZJ9quvtRyltDg7P4mzjgfUD9a0b65W9
                ucNHsl/1aAk7Y1/yf1NQ7JngVIljt0UmTaQwbA/iJ69PTgY69an0iwF/MNrtJJuwrEfePHQf1PNA
                G94C0+OG7EcuWgjUkHHGeSMc9yefTOa8M/4Kz/tf2P7G/7E/jrxVa3ix61dWx0Pw7tk8tpdSulZI
                3i9TCvm3BHcW2Opr2qaRtKfyoGKycedKOSuOg/Pt396/n5/4Lmf8FEIf2zf2hrfwv4X1Fb74e/Dt
                pbayuYZd0OsXrkC4uwRw0Y2iKI/MCqM6nExAqCuzOpLlR8N0UUVscYV9Pf8EyP+ClviL/gnz8U9z
                fbNY+H2uzINf0WNxu44F1bbiFW4QepCyKNjEfK6fMNFAban9WnwS+O2g/Hb4faP4u8H61Z694b12
                Hz7W+hUtHKM8oynBR1YEMjgMrKVYBhgS6xYNf6u1xHFaiPcGlLJ5TRt32nJ6YHXriv5tP2Kv+ChH
                xM/YN8ZNqXgfWFbS7xw2o6DfhptL1PoMyRBgVcAACWNkkA43bSQf2N/Y3/4LafBT9qu2htNcvoPh
                j41uAqT6frt0sdldkHjyL7CxP6bZhE+ThQ+M1m422OqnVT0Z9fw+Drezm+1R29vI0khmdmOFJwQD
                jDBfTIxXUeH5S0eF5LElULfKH9PXrjqPyNc/ZaNfWbQyW+64tpE3o2QPkPIKg8MpHcHv3FbGnWEt
                nebpEUcb1zyFbkDn1zU37mxvw3dxNKR99XXO5htwe4HPas7Vome2YiSPMnyeZktgjGcY9PwrW0+x
                bULSMGRB5AxhscnjGD78j8qgtfDtxqFyIwnm5Y/KFLY/wA47UAcxDp8sqB2nkfjblhgkZz0resor
                hkENv5jTMu1Ao6E9uOc/SvJ/wBrr9t34P8A7Cuh3Fx8SvGml6Xq1ugeLw9ZOt1rl1lSVVLNG3qGx
                xJL5cWerjivxp/4KUf8F9PHX7Zeh6l4J8CafJ8N/htfI1vdxRz+ZrGuxHIK3M64EcTr1giGDudXk
                mUjB7NvczlVij3j/gt3/wAFktPm0fVvgv8ACDXLfU1u43s/FPiPT5Q1rsORJZ2si8SFgSsky5XaS
                iltzEfkPRRW22iOWUnJ3YUUUUEhRRRQAUUUUAerfAj9uf4xfsyRxw+A/iV4y8M2UZLCwtdTkNgxP
                drZiYWPuUNfSng7/g4y/ah8MRqt54i8J+Ilxg/2h4XskL+hJt0iOfp+OaKKN9ylJrY0Na/4OSv2m
                NQRvsV54E0aQrtWS08NxSNH7jzjIPzBFeMfGX/gsJ+058ebCSz8QfGfxnHYzq0c1po1wmh21yrdV
                kislhSReOjgiiiq2V0Jyb3Pm6WVp5WkkZndyWZmOSxPUk02iipEFFFFABRRRQB//9k="
                clip-path="url(#CP)"/>
        </g>
    </svg>
    <span>{{ getMoonPhase(moonStats.phasePct) }} {{ moonStats.illuminationPct | percent }}</span>
</div>
